<% provide(:title, 'All users') %>
<h1 style="color:#000000 ; font-size:55px;"> <center> All users </center> </h1>

<ul class="users">
  <section>
    <%=paginate  @users%>
    <br>
    <% @users.each do |user| %>
        <% if !user.super_admin? %>
            <b style="color:#000000">
            <% if user.admin?%>
                <p>
                  Admin:
                  <%= user.name %>
                </p>
                <% else %>
                <%= user.name %>
             <% end %>
            <%= user.surname %>
            </b>
            <%= link_to 'Show', user,  class: "btn  btn-small " %>|
            <%= link_to 'Edit',  edit_user_path(user) ,  class: "btn btn-small " %>|

            <%= link_to 'Destroy', user, method: :delete,
                        data: { confirm: 'Are you sure?' },
                        class: " btn btn-small " %>
            <br>
            <%= user.email %>
            <br>
        <% end %>
    <%end%>

  </section>
</ul>

<div style="margin: 50px 0;">

</div>

