<% provide(:title, 'All users') %>
<h1 style="color:#000000 ; font-size:55px;"> <center> All users </center> </h1>

<ul class="users">
  <section>
    <%=paginate  @users%>
    <br>
    <% @users.each do |user| %>

            <b style="color:#000000">
              <% if !user.super_admin? %>
                  <% if user.admin?%>
                      <p>
                        Admin:
                        <%= user.name %>
                       </p>
                   <% else %>
                        <%= user.name %>
                  <% end %>
              <% end %>
              <%= user.surname %>
            </b>
        <% if !user.super_admin? %>
            <%= link_to 'Show', user,  class: "btn  btn-small btn-primary"  %><br>
            <%= user.email %>

            <br>
        <%end %>
    <%end%>

  </section>
</ul>

<div style="margin: 50px 0;">

</div>

