<% provide(:title, @user.name) %>
<div class="row" >
  <div class="span4">
    <section>
      <h1 style="font-size: 25px">
        <%=  image_tag @user.avatar.url(:small) %>

        <hr align="left" style=" background-color: #000000; width: 200px;height: 2px;">
        <%= @user.name %>
        <%= @user.surname %>
      </h1>

      <div style="position:absolute;top: 110px; left: 668px; text-overflow:ellipsis;">
        <%= link_to 'create post',  {}, remote: true, data: {toggle:'modal', target:'#addPostModal'}%>
        <br>
        Posts:<br>

        <% @posts.each do |post| %>

            <%= post.post %>
            <%= link_to 'Destroy', post, method: :delete,
                        data: { confirm: 'Are you sure?' },
                        class: " btn btn-small " %>
            <br><p style="text-overflow: clip"></p>
        <%end %>

      </div>

      <% if current_user%>
          <div style= "float:left;margin-right:30%;">
            <%= link_to 'Back', users_path, class: "btn btn-small btn-primary" %>
          </div>
      <% end %>

    </section>
  </div>
</div>
<div style="margin: 50px 0;">
</div>
<div id="addPostModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><h1> New post  <span class="glyphicon glyphicon-paperclip"></span> </h1></h4>
      </div>
      <%= form_for @post = Post.new , remote: true  do |f| %>
          <div class="modal-body">
            <div class="large-8 columns">
              <%= f.text_area :post, rows: 4,class:"col-sm-12",style:"resize:none", maxlength:99 ,placeholder: "Post"%>
            </div>
            <div class="clear"></div>
          </div>
          <div class="modal-footer">
            <%= f.submit "create post", class: "btn btn-large btn-primary", style: "background: #000000;" %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<script>
$("#new_post").on("submit",function(){
    $("#addPostModal").modal("hide");
    setTimeout(function() {
        $("#post_post").val("");
        location.reload();
    },800);
});
</script>